.heading {
  background-color: rgb(49, 131, 238);
  color: white;
  width: 1000px;
  margin: 0 auto;
}

.curse {
  background-color: rgb(214, 214, 214);
  color: rgb(92, 83, 83);
  width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.headers {
  width: 900px;
  margin: 0 auto;
  color: rgb(64, 119, 223);
}

.text {
  width: 900px;
  margin: 0 auto;
}

.orange {
  width: 900px;
  margin: 0 auto;
  color: white;
  background-color: orange;
}
