<html>
    <head>

    </head>
    <body>

        <form method='POST' action='/'>
        <input type='text' name='destinationName' placeholder='Destination'/>
        <input type='text' name='dateOfDeparture' placeholder='Date of Departure'/>
        <input type='text' name='dateOfReturn' placeholder='Date of Return'/>
        <button>Add Trip</button>
        </form>

     <h1>List of Trips</h1>
   
    {{#flights}}
    
    <ul>
        <li>
        <form>
            Destination: {{destinationName}} 
            Date of Departure: {{dateOfDeparture}}
            Date of Return: {{dateOfReturn}}
            <input type='hidden' name='city' value='{{destinationName}}'/>
            <button>Remove</button>
        </form>
        </li>
    </ul>

    {{/flights}}


    </body>
</html>